<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">


        <!-- uses vue to display errors from input-->
        <div class="alert alert-danger" v-show="errors.length > 0">
            <ul>
                <li v-for="error in errors" v-bind:key="error"> {{error}}</li>
            </ul>
        </div>

        <div class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group">
                <label for="name">Name</label>
<!--get new student name and add to vue model, trims out whitespace-->
                <input id="name" class="form-control" v-model.trim="newStudentName">
            </div>
            <div class="form-group">
                <label for="starID">Star ID</label>
<!--get new student starId and add to vue model, trims out white space-->
                <input id="starID" class="form-control" v-model.trim="newStarId">
            </div>
            <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>
<!-- looping with v-for loop through the array created in script for each student added-->
                    <tr v-for="student in students" v-bind:key="student.starID" v-bind:class=" student.present ? 'present' : 'absent'">
                        <td>{{student.name}}</td>
                        <td>{{student.starID}}</td>
                        <td>
                            <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">
                        </td>

                    </tr>

                </table>
            </div>
        </div>

<!-- show a message when student arrives or leaves  -->
        <div v-show="mostRecentStudent.name">
            <div v-if="mostRecentStudent.present" class="alert alert-success">
                Welcome, {{mostRecentStudent.name}}
            </div>
            <div v-else class="alert alert-info">
                Good bye, {{mostRecentStudent.name}}
            </div>

        </div>


    </div>

<!--    cannot manage vue data after above div-->

    <script>


    // set up all data for the Vue app
        let app = new Vue({
            el: '#app',
            data:{
            //create student object template that's saved to the list
                newStudentName: '',
                newStarId: '',
                students: [
                    {name: 'A student',starID: 'aa1234aa',present:false}
                ],
            //for collecting any errors, will be displayed at the top
                errors: [],
            //object will contain who was the last student to sign in or out
                mostRecentStudent: {}
            },
            methods:{
            //method to grab info from inputs, form a student obj and add that object to list of students
                addStudent() {
                    this.errors = []

                    if (!this.newStudentName || !this.newStarId){
                        this.errors.push('Name and StarID are required')
                    }

                    if (this.errors.length == 0) {
                        let student = {
                            name:this.newStudentName,
                            starID:this.newStarId,
                            present:false}
                        this.students.push(student)
                        this.students.sort(function (s1,s2){
                        //case insensitive way to sort students
                            return s1.name.toLowerCase() > s2.name.toLowerCase() ? 1 : -1
                        })
                        this.newStudentName = ''
                        this.newStarId = ''
                        }
                },
                arrivedOrLeft(student){
                    this.mostRecentStudent = student
                }
            }
        })


    </script>

</body>

</html>


                
